@{
    ViewData["Title"] = "Availabel Items";
}
@model List<SimpleStore.Model.Product>


<h2>Available Items</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            @Html.Partial("_ProductCard", item)
        </div>
    }
</div>